:root {
    --color-main: #1d9c84;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
}
html {
    scroll-behavior: smooth;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Lato', sans-serif;
}
div{
    line-height: 1.2;
}
img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.2;
}
.width-auto{
    width: max-content;
    height: max-content;
}
a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1230px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    background-color:var(--color-yellow);
    color: #212121;
    text-transform: uppercase;
    text-align: center;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: var(--color-main)!important;
}
.color-main{
    color: var(--color-main)!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}

/* hover image  */
.box-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
    height: 100%;
}
header#header{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
}
header#header .box-header{
    border-radius: 5px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: absolute;
    transition: all .3s;
    width: 24px;
    margin-left: 0;
    right: 40px;

}
header#header .toggle-menu span {
    background: #151949;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #151949;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
header#header .wrap-menu .box-menu{
    display: flex;
    align-items: center;
}
header#header .wrap-menu li a{
    font-size: 14px;
    font-weight: 700;
    color: rgb(88, 89, 91);
    padding: 5px 15px;
    text-transform: uppercase;
    transition: all .3s;
}
  
header#header .wrap-menu li a:hover{
    color: #151949;
    transition: all .3s;
}
/*  */

#banner-main{
    position: relative;
}
#banner-main #background-banner{
    display: block;
    width: 100%;
}
#banner-main .background-banner-mobile{
    display: none;
}
#banner-main .wrap-content-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner-main .wrap-content-banner .container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#banner-main .wrap-content-banner .content-banner{
    width: 100%;
    max-width: 520px;
    padding-left: 15px;
    color: #FFF;
}
#banner-main .wrap-content-banner .content-banner .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(55, 51, 89);
    font-size: 52px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
}

#banner-main .wrap-content-banner .content-banner .text{
    font-size: 20px;
    padding-left: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(35, 31, 32);
    padding: 0;
}
#banner-main .wrap-content-banner .content-banner .hotline{
    background-color: var(--color-main);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px 16px 10px;
    border-radius: 20px;
    margin-top: 20px;
}
#banner-main .wrap-content-banner .content-banner .hotline .text{
    font-size: 10.5px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1.4px;
}
#banner-main .wrap-content-banner .content-banner .hotline .number{
    font-size: 26.5px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 3.3px;
}

  #vote-main{
      padding-block: 50px;
    }
    #vote-main .slide-vote .item{
        background-color: #f4f2f0;
    }
    #vote-main .slide-vote .item .content{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 87px;
        padding: 10px 30px 15px;
    }
    #vote-main .slide-vote .item .content .title{
        color: rgb(55, 51, 89);
        font-size: 52px;
        font-weight: bold;
        line-height: 1.2;
        margin-right: 10px;
    }
    #vote-main .slide-vote .item .content .title img{
        width: max-content;
    }
    #vote-main .slide-vote .item .content .text{
        text-align: left;
        font-size: 16px;
    }

  #form-top{
    background-color: var(--color-main);
    padding: 18px 0;
  }
  #form-top form{
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #form-top form .text{
    font-size: 22px;
    font-weight: bold;
  }
  .wrap-form{
      margin-bottom: -12px;
      max-width: calc(326px*2 + 16px);
    }
    #form-top .wrap-form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  #form-top .wrap-form .form-group{
      flex: 0 0 calc(50% - 8px);
      max-width: 326px;
      margin-bottom: 12px;
    }
.wrap-form .form-group .form-control{
        min-height: 42px;
        border-radius: 0;
        font-size: 16px;
        padding-inline: 20px;
    }
.wrap-form .form-group .form-control::placeholder{
        font-style: italic;
        font-weight: 600;
        color: rgb(88, 89, 91);
    }
.btn-submit{
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #e75b2a;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    padding: 2px 11.5px;
  }
/* list rate */
#list-rate{
    background-color: #1c2a43;
    padding: 48px 0;
}
#list-rate .slide-mobile{
    display: none;
}
#list-rate .item .title>*,
#list-rate .item .title{
    font-size: 52px;
    font-weight: 700;
    color: rgb(97, 222, 228);
    margin-bottom: 5px;
}
#list-rate .item .text{
    font-size: 16px;
    font-style: italic;
    color: #FFF;
}
/*  slide-service*/
#slide-service{
    background-color: #fff;
    padding-bottom: 90px;
}
#slide-service .box-title{
    margin-bottom: 60px;
}
#slide-service .box-title .title{
    padding: 30px 0 20px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(28, 42, 6);
    margin-bottom: 10px;
    margin-bottom: 0;
}
#slide-service .box-title .text{
    font-size: 16px;
    font-style: italic;
    width: 100%;
    max-width: 75%;
    margin:  0 auto;
}
#slide-service .box-title .color-main{
    font-size: 24px;
    font-weight: 700;
}
#slide-service .owl-carousel .owl-stage{
    display: flex;
}
#slide-service .item{
    background-color: #FFF;
    height: 100%;
    transition: all .3s;
}
#slide-service .item .box-image{
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slide-service .item .box-image img{
    width: max-content;
}

#slide-service .item .content{
    padding: 20px 50px 30px;
}
#slide-service .item .content a{
    display: block;
    margin-bottom: 15px;
}
#slide-service .item .content a .title{
    font-size: 22px;
    color: rgb(28, 42, 67);
    font-weight: 700;
    min-height: 53px;
    transition: all .3s;
    text-align: center;
    display: flex;
    align-items: center;
}

#slide-service .item .content a .title:hover{
    color: #e75b2a;
}
#slide-service .item .content .text{
    font-size: 16px;
    color: rgb(35, 31, 32);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 20;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
  
.owl-theme .owl-dots .owl-dot span{
    width: 11px;
    height: 11px;
    margin: 10px 2.5px 0;
    border: 1px solid #6d6e71;
    background: transparent;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #6d6e71;
}

#branchs{
    margin-bottom: 75px;
}
#branchs .wrap-branch{
    background-image: url(../images/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding-bottom: 55px;
    margin-top: -195px;
    box-shadow: 5px 5px 50px rgb(69 71 74 / 66%);
}
#branchs .title-branch{
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    padding-top: 60px;
    padding-bottom: 42px;
}
#branchs .list-branch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}
#branchs .list-branch .item-branch{
    padding: 0 30px;
    margin-bottom: 38px;
}
#branchs .list-branch .item-branch .btn{
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    background: #0482fb;
    border-radius: 20px;
    padding: 6.5px 25px;
}
#branchs .wrap-branch .btn-link{
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #e75b2a;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    padding: 2.5px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #e75b2a;
}
#branchs .wrap-branch .btn-link:hover{
    background-color: transparent;
    color: #e75b2a;
}
/* list-cntt */
#list-cntt{
    padding-bottom: 45px;
}
#list-cntt .title-section{
    font-size: 28px;
    color: rgb(28, 42, 6);
    font-weight: 700;
}
#list-cntt .title{
    font-size: 22px;
    font-weight: 700;
    margin-top: 35px;
    color: rgb(0, 128, 247);
    margin-bottom: 10px;
}
#list-cntt .text{
    font-size: 16px;
    line-height: 1.2;
    color: rgb(35, 31, 32);;
}
#list-cntt [class*="col-"]{
    margin-bottom: 40px;
}
#list-cntt .box-image img{
    border-radius: 60px 0 60px 0;
}
  
/* about-us */
#about-us{
    background-color: #f5f1ef;
    padding-top: 45px;
    padding-bottom: 70px;
}
#about-us .box-title{
    font-size: 28px;
    color: rgb(28, 42, 6);
    font-weight: 700;
    margin-bottom: 30px;
}
#about-us .item{
    padding: 12px 9px;
}
#about-us .item .box-content{
    padding: 40px 35px 20px;
    background-color: #FFF;
    box-shadow: 3px 1px 9px #88888869
}
#about-us .item .box-content .descriptions{
    font-size: 16px;
    color: rgb(35, 31, 32);
    line-height: 1.2;
    margin-bottom: 30px;
}
#about-us .item .box-content .image-author{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-us .item .box-content .image-author img{
    width: 105px;
    height: 105px;
    border-radius: 100%;
}
#about-us .item .box-content .name{
    font-size: 24px;
    color: var(--color-main);
    font-weight: 700;
    text-align: center;
}
#about-us .item .box-content .hastag{
    font-size: 16px;
    color: rgb(35, 31, 32);
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

#about-us .owl-theme .owl-nav {
    margin: 0;
    position: absolute;
    top: -70px;
    right: 0;
}
#about-us .owl-theme .owl-nav .owl-prev,
#about-us .owl-theme .owl-nav .owl-next{
    position: relative;
    left: unset;
    right: unset;
    transform: unset;
}
#about-us .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}
/* map-resiger */
#map-resiger{
    padding-top: 35px;
    padding-bottom: 75px;
    overflow: hidden;
}
#map-resiger .title{
    font-size: 28px;
    color: rgb(28, 42, 6);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
#map-resiger .row{
    margin-inline: -19px;
    position: relative;
}
#map-resiger .row [class*="col-"]{
    text-align: center;
    position: relative;
    padding-inline: 19px;
}
#map-resiger .row::before{
    content: "";
    height: 7px;
    width: calc(100% - 38px);
    background-color: #e0e1e2;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 14px;
    left: 19px;
}
#map-resiger .text-step{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
    background-color: rgb(0, 128, 247);
    border-radius: 15px;
    display: inline-flex;
    font-weight: 700;
    height: 34px;
    align-items: center;
    justify-content: center;
    padding: 3px 24px 0;
    margin-bottom: 25px;
    position: relative;
}
#map-resiger .text-step::before{
    content: "";
    height: 25px;
    width: 7px;
    background-color: #e0e1e2;
    border-radius: 0 0 5px 5px;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
#map-resiger .box-content{
    background-color: #1c2a43;
    border-radius: 10px;
    padding: 15px 25px 20px;
    color: #FFF;
    text-align: center;
}
#map-resiger .box-content .icon{
    height: 44px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map-resiger .box-content .title-step{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}
#map-resiger .box-content .text{
    font-size: 16px;
    min-height: 38.5px;
}

/* actions */
#actions{
    padding-top: 35px;
    padding-bottom: 75px;
    background-color: #f5f1ef;
}
#actions .box-title{
    font-size: 28px;
    color: rgb(28, 42, 6);
    font-weight: 700;
    margin-bottom: 20px;
}
#actions .box-image{
    cursor: pointer;
}
#actions .box-image img{
    transition: all .3s;
}
#actions .box-image img:hover{
    transform: scale(1.3);
}
#actions .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
}
#actions .gallery .gallery-items-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#actions .gallery .gallery-items-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#actions .gallery .gallery-items-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
#actions .gallery .gallery-items-4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
#actions .gallery .gallery-items-5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#actions .gallery .gallery-items-6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#actions .gallery .gallery-items-7{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#actions .gallery .gallery-items-8{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* #form-resiger-main */
#form-resiger-main{
    background-color: #1c2a43;
    padding-top: 30px;
}
#form-resiger-main .box-title{
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
#form-resiger-main .wrap-form{max-width: 100%; margin-bottom: 0;}
#form-resiger-main .wrap-form .row{
    margin-inline: -10px;
}
#form-resiger-main .wrap-form .form-group{
    margin-bottom: 18px;
    padding-inline: 10px;
}
#form-resiger-main .wrap-form .form-group input{
    border: 1px solid #c1c1c1;
}
#form-resiger-main .wrap-form .box-resi{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#form-resiger-main .wrap-form .box-resi .title{
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    min-width: 175px;
}
#form-resiger-main .wrap-form .box-resi .list-item{
    display: flex;
    align-items: center;
}
#form-resiger-main .wrap-form .form-child{
    margin-bottom: 17px;
}
#form-resiger-main .wrap-form .box-resi .list-item .form-check{
    min-width: 155px;
    margin-left: 25px;
}
#form-resiger-main .wrap-form .box-resi .list-item .form-check label{
    color: #FFF;
    font-size: 16px;
    padding-left: 10px;

}
#form-resiger-main .wrap-form .box-resi .list-item .form-check .form-check-input {
    transform: scale(1.6);
}
#form-resiger-main .wrap-form .box-submit{
    padding-top: 15px;
    padding-bottom: 30px;
}
#form-resiger-main .wrap-form .btn-submit{
    background-color: rgb(0, 128, 247);
}
#form-resiger-main .wrap-form .btn-submit:hover{
    background-color: #e75b2a;
    color: #FFF;
}

/* footer */
footer#footer{
    background-color: #06101e;
    padding-block: 25px;
}
footer#footer .footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer#footer .footer-main .item{
    color: #FFF;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}
footer#footer .footer-main .item img{
    margin-right: 10px;
}
footer#footer .footer-main .item.hotline{
    font-style: normal;
    background-color: #ea7126;
    padding: 5px 15px;
    border-radius: 30px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer#footer .footer-main .item:hover{
    color: #ea7126;
}
footer#footer .footer-main .item.hotline:hover{
    opacity: .65;
    color: #FFF;
}
.box-fixed-footer{
    position: fixed;
    bottom: 110px;
    left: 130px;
    z-index: 100;
}

#enrollment-method{
    padding: 50px 0 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#enrollment-method .box-title{
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 35px;
}
#enrollment-method .box-method{}
#enrollment-method .box-method *{
    font-size: 16px;
}
#enrollment-method .box-method .title-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#enrollment-method .box-method .title-tabs .item{
    flex: 0 0 calc(100% / 3 - 30px);
    max-width: calc(100% / 3 - 30px);
    min-height: 40px;
    background-color: #707377;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
#enrollment-method .box-method .title-tabs .item.active{
    background-color: #1c2a43;
}
#enrollment-method .box-method .box-contents{
    background-color: #FFF;
    padding: 30px 50px 50px;
}
#enrollment-method .box-method .box-contents{}
#enrollment-method .box-method .box-contents .item-content{
    display: none;
}
#enrollment-method .box-method .box-contents .item-content.active{
    display: block;
}
#enrollment-method .box-method .box-contents .item-content .detail-text>*{
    margin-bottom: 15px;
}
#enrollment-method .box-method .box-contents .item-content .detail-text *{
    font-weight: 700;
    color: #231f20;
}
#enrollment-method .box-method .box-contents .item-content .detail-text .color-blue{
    color: var(--color-main);
}
#enrollment-method .box-method .box-contents .item-content .box-method-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method{
    flex: 0 0 calc(50% - 13px);
    max-width: calc(50% - 13px);
    margin-top: 15px;
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item{
    margin-bottom: 25px;
    border-radius: 8px;
    padding: 10px 20px 10px 0;
    color:  rgb(35, 31, 32);
    font-size: 16px;
    position: relative;
    font-weight: 300;
    display: flex;
}
#enrollment-method .box-method .box-contents .item-content .box-method-item .list-method .item .number{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-main);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-right: 20px;
}
#enrollment-method .box-method .box-contents .list-tuition{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}
#enrollment-method .box-method .box-contents .list-tuition .item{
    border: none;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    background: #0482fb;
    border-radius: 20px;
    padding: 6.5px 25px;
    margin: 0 10px 10px;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 1092px;
}
}
#categoryModal button.close{
    display: none;
}
#categoryModal .modal-content{
    background-color: #1c2a43;
    border: none;
    border-radius: 50px;
    padding: 45px 0 65px;
    color: #FFF;
}
#categoryModal .modal-content .box-title h3{
    color: rgb(97, 222, 228);
    font-size: 24px;
    width: 100%;
    max-width: 580px;
    margin:  0 auto;
    font-weight: 700;
    padding-inline: 20px;
}
#categoryModal .modal-content .box-content{
    padding: 40px 50px 0;
    display: flex;
    margin-bottom: 35px;
}
#categoryModal .modal-content .box-content .box-image{
    max-width: calc(100% - (100% * (650 / 992)));
    flex: 0 0 calc(100% - (100% * (650 / 992)));
    margin-right: 40px;
}
#categoryModal .modal-content .box-content .box-image img{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#categoryModal .modal-content .box-content .contents,
#categoryModal .modal-content .box-content .contents>*{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: .5px;
}
.wrap-form-modal>.d-flex{
    width: 100%;
    padding: 0 75px;
}
  
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-theme .owl-nav .owl-prev{
    left: -35px;
}
.owl-theme .owl-nav .owl-next{
    right: -35px;
}

#training-industry{
    background-color: #f4f0ec;
    padding: 55px 0 60px;
}
#training-industry .box-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(28, 42, 6);
    margin-bottom: 25px;
}
#training-industry .item{
    text-align: center;
    padding-inline: 20px;
}
#training-industry .item .box-image{
    min-height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
#training-industry .item .box-image img{
    width: max-content;
}
#training-industry .item .title{
    font-size: 22px;
    color: rgb(28, 42, 67);
    font-weight: 700;
    min-height: 53px;
    transition: all .3s;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#training-industry .item .code-indu{
    font-size: 16px;
    color: var(--color-main);
    font-weight: 700;
    margin-bottom: 16px;
}
#training-industry .item .text{
    text-align: center;
}
#training-industry .item .text li{
    display: block;
    font-size: 16px;
    line-height: 1.2;
}